@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-image: url("../assets/images/wooden_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.julius {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mina-regular {
  font-family: "Mina", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mina-bold {
  font-family: "Mina", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.animated {
  transition: all 0.3s ease;
}

.bg-normal {
  background-color: #c1bcb6;
}
.bg-fire {
  background-color: #fc671a;
}

.bg-water {
  background-color: #0083c2;
}

.bg-electric {
  background-color: #fcdc00;
}

/* Add classes for other types */
.bg-grass {
  background-color: #35d32f;
}

.bg-ice {
  background-color: #1dc1dd;
}

.bg-fighting {
  background-color: #fcb600;
}

.bg-poison {
  background-color: #b04ec4;
}

.bg-ground {
  background-color: #c6883d;
}

.bg-flying {
  background-color: #93d5e8;
}

.bg-psychic {
  background-color: #f16177;
}

.bg-bug {
  background-color: #c2d501;
}

.bg-rock {
  background-color: #cbc594;
}

.bg-ghost {
  background-color: #805474;
}

.bg-dark {
  background-color: #5c514f;
}

.bg-dragon {
  background-color: #406ca9;
}

.bg-steel {
  background-color: #72c3d5;
}

.bg-fairy {
  background-color: #f3b1db;
}
